================================
#ignore IDE and OS configs
================================
.DS_Store
.idea

================================
#!!!secret, env variables!!!
================================
.envrc.sh

================================
#ignore logs
================================
logs/

================================
#ignore npm and bower packages
================================
node_modules/
bower_components/

================================
#ignore build/tmp/release path
================================
build/
tmp/
release/
